body {
background-image:url(fondo.jpg);
background-position:center top;
background-repeat:no-repeat;
background-attachment:fixed;
}
p {
color:#ffffff;
font-family: times new roman;
font-size:15px;
text-align:center;
text-decoration:underline;





}